@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: white;
  --text-color: black;
}

.dark-mode {
  --background-color: #141414;
  --text-color: cyan;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
